html
    head
        title Blog app
        link(rel='stylesheet', href='../public/css/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='../public/css/main.css')
    body
        .container
            include _header
            
            hr

            block content