extends ../_layout


block content

    nav(aria-label="breadcrumb")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item")
                a(href="/users/") Users
    hr

    h2 Users
    ul
    each user in users
        li
            a(href=`/users/${user.id}/`)=user.username