extends ../_layout


block content

    nav(aria-label="breadcrumb")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active" aria-current="page")
                a(href="/albums/") Albums
    hr

    h1="Albums"
    ul
    each album in albums
        li
            a(href=`/albums/${album.id}/`)=album.title