extends ../_layout

block content

    nav(aria-label="breadcrumb")
        ol(class="breadcrumb")
            li(class="breadcrumb-item")
                a(href="/") Home
            li(class="breadcrumb-item active" aria-current="page")
                a(href="/posts/") Posts
    hr

    .row
        .col-md-8
            each post in posts
                include ../_preview_card
        .col-md-4
            if users.length
                ul
                each user in users
                    li
                        a(href=`/users/${user.id}`)=user.username

